.axisLabel {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16pt;
    font-weight: bold;
}

.axis { /* used by d3.js when creating an axis */
    font-size: 16pt;
}

.legend {
    font-size: 12px;
}


#canvas {
    display: flex;             
    flex-direction: column;  
    margin-left: 1rem;
}

#canvas p {
    order: 2; /*specifies the visual order,reference:https://www.w3schools.com/cssref/css3_pr_order.php*/
    margin-top: 3rem; 
    text-align: left; 
    margin-left: 1rem;
    margin-bottom: 3rem;
    margin-right: 3rem;
    font-family: Arial, sans-serif;
}

#canvas svg {
    order: 1;
}