
body {
    background: #f3f3f3;
    margin: 0;
    padding: 2rem 0; 
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
}

/* 2. white background */
#canvas {
    background-color: #ffffff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 1300px;  
    max-width: 98vw;  
    padding: 2rem 40px;    
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    align-items: center;  
    overflow-x: auto; /* Allow horizontal scrolling */
}

/* To put SVG on the top of the web */
#canvas svg {
    order: -1;        
    overflow: visible;     /* to avoid element be cut by .... */
    margin-bottom: 2rem;   
    display: block;
}

/* content*/
#canvas > h2, 
#canvas > h3, 
#canvas > p {
    order: 2;
    width: 100%;          
    max-width: 100%;     
    box-sizing: border-box;
}

/* title */
h2, h3 {
    text-align: center;  
    color: #333;
    margin-top: 1.5rem;
}

/* paragrah */
p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #444;
    text-align: justify;   
    margin-bottom: 1rem;
    font-size: x-large;
}

.axisLabel {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16pt;
    font-weight: bold;
}

.axis { 
    font-size: 16pt; 
}

.legend {
    font-size: 12px;
}



/* for 1920px */
@media screen and (min-width: 1920px) {
    #canvas {
        width: 1600px;
        
        padding: 3rem 60px;
    }

    p {
        font-size: 1.5rem; 
    }
}


@media screen and (max-width: 760px) {
    body {
        margin: 0;
        padding: 1rem 0;
        min-height: 100vh;
        display: block;      
        overflow-x: auto;    
        font-family: Arial, Helvetica, sans-serif;
        background: #f3f3f3;
    }

    #canvas {
        background-color: #ffffff;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
        border-radius: 0;
        width: 1200px;    
        max-width: none;  
        padding: 1.5rem 10px;
        box-sizing: border-box;
        overflow-x: visible; 
        display: block;  
    }

    #canvas svg {
        width: 1200px;
        min-width: 1200px;
        order: -1;          
        margin-left: 0;
        margin-right: 0;
        display: block;
    }
/* Style only the direct h2, h3, and p elements inside #canvas */
/*Target only direct child h2, h3, and p elements inside #canvas to avoid styling nested elements.Reference: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/Child_combinator*/
    #canvas > h2,
    #canvas > h3,
    #canvas > p {
        width: 100%;
        max-width: 100%;
        white-space: normal;
        padding: 0 10px;
        box-sizing: border-box;
    }

    p {
        font-size: 1rem;
        line-height: 1.5;
        text-align: left;
    }
}

