*{
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;
}

/* dropdown menu container */
.dropdown {
    position: relative; /*To create a positioning context (or anchor point) for the dropdown content*/
    display: inline-block; /*to create a positioning context (or anchor point) for the dropdown content.*/
}

/* dropdown button */
.dropbtn {
    background-color: transparent;
    color: inherit;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-size: inherit;
    padding: 0;
}

/* dropdown content*/
.dropdown-content {
    display: none; /*Hidden content*/
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1; /*cover other elements*/
}

/* the href of dropdown menu */
.dropdown-content a {
    display: block;
    padding: 8px 16px;
    text-decoration: none; /*without underline*/
    color: black;
}

/* show the dropdown menu when hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover {
    background-color: #637D2C;
    color: white
}

p {
    margin: 0.5rem 0; 
    font-family:'Times New Roman', Times, serif; 
    line-height: 1.5;
    font-size: x-large;
}

h2 {
    margin-top: auto;
    margin-left: 3.25rem;
}

nav {
    padding: 1rem 3rem;
    font-size: x-large;
}

h1 {
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
    margin-top: 0;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    color: #b6b6b6;
}

h3 {
    font-size: 1.5rem;
    color: rgb(0, 2, 4);
} 

.nav-sub-aboutUs {
    color:#637D2C
}
.nav-sub-aboutUs:hover {
    background-color: #637D2C;
    color: white
}
a {
    color: black;
    transition-property: color;
    transition-duration: 0.2s;
}
a:hover, a:focus {
    background-color: #637D2C;
    color: white;
}

/* container：logo on the left， navigation bar on the right*/
.webTitle {
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between; /*Align both sides (logo on the left, navigation on the right).）*/
    align-items: baseline;       /* Vertical alignment*/
    padding: 10px 20px; 
    width: 100%;/* Fill the screen widt */
}

/* navigation bar inner layout：all the elements in one line */
.webTitle nav {
    display: flex;         
    gap: 20px; /* the gap between different "button" */
    padding: 1rem 3rem;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
}

.intro {
    width: 100%;            
    background-color: #FFD9D9;
    display: flex; 
    justify-content: center; /* The text boxes inside are horizontally centered. */
}

.introText {
    text-align: left; /* Left-aligned internal text */
    max-width: 1200px; /* Control content width */
    width: 100%;
    padding: 1.5rem 3.25rem;
    font-size: larger;
}

.contactInformation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1.5rem; 
    align-items: start; /* Top Alignment */
    max-width: 100%;
    margin: 1rem 3.25rem; 
    padding: 0.5rem 1rem;
}

.contact {
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.contact img{
    width: 2rem;
    height: 2rem;
}

.media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:0.5rem;
    align-items: start; /* Top Alignment */
    max-width: 50%;
    margin: 1rem 3.25rem; 
    padding: 0.5rem 1rem;
}

/* hover of social media */
.media a:hover, .media a:focus {
    background-color: transparent;
    transform: scale(1.3)
}

.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:black;
    margin-bottom: 3.35rem;
}

.explore a:hover, .explore a:focus {
    color: #637D2C;
    background-color: white;
}
/* for mobile：When the screen becomes narrower, navigation bar becomes vertically arranged.*/
@media (max-width: 768px) {
    .webTitle {
        flex-direction: column; /* Logo和导航上下排列 */
        align-items: center; 
        text-align: center;
    }

    .webTitle nav {
        flex-direction: column; /* 导航链接变成垂直列表 */
        gap: 15px;
        margin-top: 15px;
        padding: 0;
        text-align: center;
    }
}
/*For desktop (1024px)*/
@media (min-width: 64rem) { /*1024px = 64rem reference: https://nekocalc.com/px-to-rem-converter*/
    .webTitle {  
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
}

